.headline-1 {
  text-align: center;
}
.headline-1 h2 {
  font-size: 32px;
  font-weight: 700;
  color: #000;
  line-height: 40px;
  margin: 0 0 10px;
}
.headline-1 h5 {
  font-size: 24px;
  font-weight: 600;
  color: #ff9800;
  position: relative;
  margin: 0 0 5px;
  font-family: "Dancing Script", cursive;
}
.headline-1 h5 span {
  position: absolute;
  width: 35px;
  height: 3px;
  background: #ff9800;
  bottom: 0;
}
.headline-1 p {
  color: #000;
  font-size: 16px;
  margin: 0;
}
