/** Default CSS **/
a:focus {
  outline: 0 solid;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
iframe {
  vertical-align: middle;
  width: 100%;
}
input {
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  line-height: 100%;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}
html,
body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  background: #fcf9f5;
  display: flex;
  flex-direction: column;
}
a {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #000000;
}
a:focus {
  text-decoration: none;
}
a:active {
  outline: 0 none;
}
button {
  border: none;
}
.btn:focus {
  box-shadow: none;
}
button:hover {
  outline: none;
  cursor: pointer;
}
select:active,
button:active {
  outline: none;
}
select:focus,
button:focus {
  outline: none;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style-type: none;
  font-weight: 300;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
p {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 300;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  box-shadow: 0 0 0 1000px white inset !important;
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
.form-group .form-control {
  font-size: 16px;
  height: 48px;
  box-shadow: none;
  outline: none;
  color: #212121;
  border-radius: 4px;
  border: 1px solid #9e9e9e;
  transition: 0.4s;
}
.form-group .form-control:focus {
  outline: none;
}
.form-group textarea {
  width: 100%;
  padding: 6px 12px;
  border: 1px solid #dddddd;
  resize: none;
}
.section {
  position: relative;
  overflow: hidden;
}
.dropdown-menu {
  border-radius: 0;
}
.navbar-toggler {
  background-color: #ffffff00;
}
/* -----------inner banner --------- */
.innerbanner-main {
  position: relative;
}
.innerbanner-main .banner-info {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  z-index: 1;
  text-align: center;
  width: 85%;
}
.innerbanner-main .banner-info h4 {
  color: #fff;
  font-size: 50px;
  line-height: 60px;
  margin: 0;
  font-weight: 700;
  font-family: "Dancing Script", cursive;
}
.innerbanner-main .banner-info ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 25px 0;
}
.innerbanner-main .banner-info ul li {
  margin: 0 5px;
  color: #fff;
  font-weight: 500;
}
.innerbanner-main .banner-info ul li.active .text-link {
  color: #ff9800;
}
.innerbanner-main .banner-info ul li .text-link {
  color: #fff;
  font-weight: 500;
}
/* -----------home page css---------- */
.home-page-main .ServiceArea {
  padding: 0 0 35px;
}
.home-page-main .ServiceArea .cstmbtn {
  margin: 15px 0;
}
.home-page-main .ServiceArea .HeadArea {
  margin-bottom: 35px;
}
/* --------About page css---------- */
.about-page-main {
  margin-bottom: 50px;
}
.about-page-main .about-main .pic-area {
  margin-bottom: 25px;
}

.about-page-main .headinfo {
  margin: 40px 0;
}
.about-page-main .info-line {
  margin-bottom: 25px;
}
.about-page-main .info-line h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #000;
}
.about-page-main .info-line p {
  font-size: 14px;
}
.about-page-main .info-line ul li {
  display: flex;
  margin-bottom: 10px;
  font-size: 14px;
}
.about-page-main .info-line ul li span {
  color: #ff9800;
  margin-right: 8px;
}

/* ----------about page css----- */

/* ------------contact page start ----------- */

.contact-page-main {
}
.contact-page-main .contact-area {
  padding: 50px 0;
}
.contact-page-main .contact-area .form-area h4 {
  color: #000;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
}
.contact-page-main .contact-area .form-group {
}
.contact-page-main .contact-area .form-group .form-control {
  font-size: 14px;
  border: 1px solid transparent;
  box-shadow: 0 2px 4px 2px rgb(0 0 0 / 7%);
}
.contact-page-main .contact-area .form-group .form-control:focus {
  font-size: 14px;
  border: 1px solid #ff9800;
}
.contact-page-main .contact-area .form-group textarea {
  height: 80px;
}
.button-area {
  margin: 25px 0;
}
.cstmbtn {
  color: #fff;
  font-size: 14px;
  background: #ff9800;
  transition: 0.4s ease;
  width: 100%;
  text-align: center;
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
}
.cstmbtn:hover {
  background: rgb(224, 103, 4);
  color: #fff;
}

.contact-page-main .our-address-info {
  padding: 25px;
  border: 1px solid rgb(233 227 228);
}
.contact-page-main .our-address-info h3 {
  color: #000;
  font-weight: 500;
}
.contact-page-main .our-address-info p {
  font-size: 14px;
}
.contact-page-main .our-address-info ul.add-info .info-item {
  margin-bottom: 15px;
}
.contact-page-main .our-address-info ul.add-info .info-item ul {
  display: flex;
  flex-direction: row;
}
.contact-page-main .our-address-info ul.add-info li.icon_area {
  margin-right: 10px;
  color: #999ca1;
}
.contact-page-main .our-address-info ul.add-info li.item_name {
  font-size: 14px;
  color: #000;
}
.contact-page-main .our-address-info .media-icon ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 35px 0 0;
}
.contact-page-main .our-address-info .media-icon ul li {
  margin-left: 20px;
  height: 25px;
  width: 25px;
  border-radius: 5px;
  text-align: center;
  background: #fff;
  font-size: 12px;
  line-height: 25px;
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 34%);
}
.contact-page-main .our-address-info .media-icon ul li a {
  color: #999ca1;
}
