.navbar {
  background-color: hsl(0deg 0% 100% / 40%);
  padding: 20px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.navbar .logoarea ul li {
  width: 200px;
}
.navbar ul.nav-area {
  display: flex;
  flex-direction: row;
}
.navbar ul.nav-area li {
  list-style: none;
  margin-right: 25px;
  color: #fff;
  line-height: 22px;
  font-size: 16px;
}
.navbar ul.login-area {
  display: flex;
  flex-direction: row;
}
.navbar ul.login-area li {
  list-style: none;
}
.navbar ul.login-area li button.signbtn {
  background-color: #000;
  color: #fff;
  padding: 8px 25px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  border: 2px solid #000;
  transition: 0.6s ease;
}
.navbar ul.login-area li button.signbtn:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}
.navbar ul.login-area li button.loginbtn {
  background-color: #fff;
  color: #000;
  padding: 8px 25px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  border: 2px solid #000;
  transition: 0.6s ease;
  margin-right: 15px;
}
.navbar ul.login-area li button.loginbtn:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.text-link {
  color: #000;
  font-size: 15px;
  font-weight: 500;
  transition: 0.4s ease;
}
.text-link:hover {
  color: #ff9800;
}
